<h2>サインアップ</h2>
<%= form_with model: @user, url: users_sign_up_path, local: true do |f| %>
  <div class="field">メールアドレス<br><%= f.text_field :email %></div>
  <div class="field">パスワード（6文字以上）<br><%= f.password_field :password %></div>
  <div class="field">パスワードの確認<br><%= f.password_field :password_confirmation %></div>
  <%= f.submit "サインアップ" %>
<% end %>
<p><%= link_to "ログイン", users_sign_in_path %></p>
